.elfsight-control-section
    max-height 0
    overflow hidden
    transition all .3s

    &-active
        max-height 300px

    & .elementor-control-field-description
        margin-top 0
        margin-bottom 10px

    & .elfsight-embed-sdk-button
        width 100%
